<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Figures</title>
</head>
<body>
<h1>Affiche tous les origamis </h1>
<table>
    <thead>
    <tr>

        <th>ID</th>
        <th>Nom Origami</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="c :${list}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.nom}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>