<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste Categorie</title>
</head>
<body>
<h1>th:each</h1>
<ul>
    <th:block th:each=" c: ${list}">
        <li th:utext="${c.id}">..</li>
        <li th:utext="${c.nom}">..</li>
        <li th:utext="${c.prenom}">..</li>
        <li th:utext="${c.telephone}">..</li>
        <li th:utext="${c.email}">..</li>
    </th:block>
</ul>
</body>
</html>