<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Bonjour</h1>
<form th:action="@{'/saveCategorie'}" th:object="${categorie}" method="PUT">
  id : <input type="text" name="id" th:value = "${list.id}">
  nom : <input type="text" name="nom" th:value = "${list.nom}" >
  prenom : <input type="text" name="prenom" th:value = "${list.prenom}" >
  telephone : <input type="text" name="telephone" th:value = "{list.telephone}">
  email : <input type="text" name="email" th:value = "${list.email}">
  <button  type="submit">Ajouter</button>
</form>


</body>
</html>
